.header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 9999;
  }
  
  .logo-wrapper {
    object-fit: cover;
  
  }
  
  .logo {
    height: 6rem;
    min-width: 100%;
  }
  
  .mobile-nav-toggle {
    display: none;
  }
  
  .navbar.enter { 
    transform: translateX(0%);
    transition: transform 350ms ease-in;
  }
  
  .navbar.exit {
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  
  .nav-list {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--bc-darkBlue);
    border-radius: .5em;
  }
  
  .nav-list li {
    display: inline-block;
    border-radius: .5em;
    background-color: var(--bc-lightBlue);
  }
  
  .nav-list button {
    display: inline-block;
    font-size: clamp(var(--fs-eighteen), 1.125vw, var(--fs-twentyFour));
    padding: 1.5vh 2vw;
    background-color: var(--bc-lightBlue);
    border-radius: .5em;
    min-width: 100%;
    color: white;
    border: 1px solid var(--bc-lightBlue)
  }

  .nav-list button:hover{
    background-color: var(--bc-middleBlue);
  
  }


  @media (max-width: 35em) {

    * {
      box-sizing: border-box;
    }
    .header {
      display: flex;
      justify-content: left;
      padding: .5rem;
    }
  
    .logo {
      height: 5.5rem;
    
    }
  
   
    .nav-list {
      display: grid;
      grid-template-columns: .5fr;
      gap: 2rem;
      background-color: transparent;
  
      
    }
  
    .nav-list li {
      max-width: 100%;
      text-align: center;
      background-color: var(--bc-darkBlue);
      
    }
  
    .nav-list button {
      padding: .8rem .12rem;
    }
  
    .mobile-nav-toggle {
      z-index: 99999;
      display: block;
      position: absolute;
      background-image: url('./assets/icon-hamburger.svg');
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      aspect-ratio: 1;
      width: 1.6rem;
      top: 2rem;
      right: 2rem;
      color: #0179c5;
  
    }
  
    .mobile-nav-toggle[aria-expanded=true] {
      background-image: url('assets/icon-close.svg')
    }

    .navbar {
      background-color: var(--bc-lightBlue);
      position: fixed;
      inset: 0 0 0 10%;
      
    
      transition: none;
      transform: translateX(100%);
    }
  
  
  }