.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 9999;
    padding: 0 min(2.5vw, 2.5rem)

  }

  .navbar-wrapper {
    display: flex;
    width: 100%;
    max-width: 1100px;
    justify-content: space-between;
    align-items: center;
    

  }
  
  .logo-wrapper {
    object-fit: cover;
    padding: .75rem;
  
  }
  
  .logo {
    height: 7.5rem;
    min-width: 100%;
  }
  
  .mobile-nav-toggle {
    display: none;
  }

  .navbar {
    width: 100%;
    max-width: 600px;
    /* aspect-ratio: 5 / 1 */
  }
  
  .navbar.enter { 
    transform: translateX(0%);
    transition: transform 350ms ease-in;
  }
  
  .navbar.exit {
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  
  .nav-list {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--bc-darkBlue);
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .nav-list li {
    display: inline-block;
  }
  
  .nav-list button {
    display: inline-block;
    font-size: var(--fs-twentyFour);
    padding: 1.5vh 2vw;
    background-color: var(--bc-lightBlue);
    color: white;
    border: 1px solid var(--bc-lightBlue);
    cursor: pointer;
  }

  .nav-list button:hover{
    background-color: var(--bc-middleBlue);
  
  }


  @media (max-width: 1200px) {

    .navbar {
      max-width: 500px;
    }

    .nav-list button {
      font-size: var(--fs-eighteen)
    }
    
  }


  @media (max-width: 37.5em) {

    * {
      box-sizing: border-box;
    }
    .header {
      display: flex;
      justify-content: left;
      padding: .5rem;
    }
  
    .logo {
      height: 5.5rem;
    
    }
  
    .nav-list {
      gap: 2rem;
    }
  
    .nav-list li {
      max-width: 100%;
      text-align: center;
      max-width: 200px;
      
    }
  
    .nav-list button {
      padding: .8rem .12rem;
      /* background-color: var(--bc-darkBlue); */
      width: 100%;
      
    }
  
    .mobile-nav-toggle {
      z-index: 99999;
      display: block;
      position: absolute;
      background-image: url('./assets/icon-hamburger.svg');
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      aspect-ratio: 1;
      width: 1.6rem;
      top: 2rem;
      right: .5rem;
      color: #0179c5;
  
    }
  
    .mobile-nav-toggle[aria-expanded=true] {
      background-image: url('assets/icon-close.svg')
    }

    .navbar {
      background-color: var(--bc-lightBlue);
      position: fixed;
      max-width: 350px;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      transition: none;
      /* justify-content: center;
      align-items: center; */
      transform: translateX(100%);
      height: 100%;
    }

    .nav-list {
      display: flex;
      flex-direction: column;
      background-color: var(--bc-lightBlue);
    }

    .nav-list button {
      background-color: var(--bc-darkBlue)
    }
  
  
  }