.footer {
    background-color: white;
    color: black;
    padding: min(2.5vw, 2.5rem) min(5vw, 5rem);
    
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-and-text-wrapper {
    text-align: center;
    flex: 1
}

.text-content p {
    margin-top: 0;
    padding: .75rem;
    text-wrap: balance;
    
}


.image-wrapper {
    object-fit: cover;
}
  
.footer-logo {
    height: 6rem;
    background-color: white;
}

.contact-info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    line-height: 1.2;
    justify-self: start;

    /* border: 1px solid red; */

}

.contact-info-container h5 {
    /* border: 1px solid orange; */
    font-size: clamp(var(--fs-twentyFour), 1.875vw, var(--fs-thirty));
    margin: 0;
    color: var(--bc-lightBlue);
    text-wrap: nowrap;
}

.contact-list {
    margin-bottom: auto;
    text-align: left;
    padding: 0;

}
  .contact-list li {
    list-style-type: none;

    
  }

  @media (max-width: 37.5em) {
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;

    }

    .contact-list {
        /* border: 1px solid orange; */
        padding: 0;
    }

    .contact-info-container {
        width: 100%;
    }

    .contact-list {
        max-width: 85%;
        text-wrap: balance;
    }
  }

  
  
  
