.footer {
    background-color: white;
    color: black;
    padding: min(2.5vw, 2.5rem) min(4vw, 4rem);
    
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

}

.image-and-text-wrapper {

    width: fit-content;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: .25rem;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: .25rem;
    max-width: 225px;
    text-align: left;
    text-wrap: pretty;
    
    

}

.text-content p {
    margin-top: 0;

}

.image-wrapper {
    object-fit: cover;
}
  
.footer-logo {
    height: 6rem;
    background-color: white;
}

.contact-info-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    line-height: 1.5;
    padding: .25rem;
    width: 100%;
    max-width: 300px;
    text-align: left;
}

.contact-info-container h5 {
    font-size: clamp(var(--fs-twentyFour), 1.875vw, var(--fs-thirty));
    margin: 0;
    color: var(--bc-lightBlue);
    text-wrap: nowrap;
 
}

.contact-list {
    margin-bottom: auto;
    padding: 0;

}
  .contact-list li {
    list-style-type: none; 
  }

  .contact-list span {
    font-weight: bold
  }

  @media (max-width: 37.5em) {
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;


    }

    .contact-info-container {
        width: 100%;
        max-width: 250px;
    }


    .contact-list {
        padding: 0;
    }

    

    .contact-list {
        text-wrap: balance;
    }
  }

  
  
  
