.services-container {
    background-color: var(--bc-middleBlue);
    background-size: cover;
    color: black;
}




.services-container h2 {
    margin: 0 auto;
    text-align: center;
    font-size: var(--fs-sixty);
    padding: .5em;
    color: white;
}










