.services-container {
    /* background-color: #0179c5; */
    /* background-image: url('./assets/circles.png');
    background-repeat: no-repeat;
    background-size: contain; */
    /* background-color: #0179c5; */
    /* background-color: var(--bc-darkBlue); */
    /* background-color: rgba(252, 61, 61, 0.811); */
    background-color: var(--bc-darkerBlue);
    background-size: cover;
    color: black;
}




.services-container h2 {
    /* max-width: 50%; */
    margin: 0 auto;
    /* border: 1px solid black; */
    text-align: center;
    font-size: var(--fs-sixty);
    padding: .5em;
    color: white;
}










