.services-container {
    background-color: var(--bc-middleBlue);
    background-size: cover;
    color: black;
}




.services-container h2 {
    margin: 0 auto;
    text-align: center;
    font-size: var(--fs-sixty);
    padding-block: .5em .5em;
    color: white;
}




@media (max-width: 600px) {
    .services-container h2 {
        font-size: 45px;
    }
}





