
.contact-form-wrapper {
    background-color: var(--bc-lightBlue);
    display: flex;
    justify-content: center;
    padding: min(5vh, 5rem) min(2.5vw, 2.5rem);

}

.form-container {

    display: flex;
    max-width: 1200px;
    

    background-color: var(--bc-lightBlue);
    /* padding: min(5vh, 5rem) min(2.5vw, 2.5rem); */
    width: 100%;
    gap: 3rem;

}

.contact-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650px;

 
}

.contact-title {
    font-size: var( --fs-thirtySix);
    font-weight: 700;
    text-align: center;
    width: 100%;
    max-width: fit-content;
    text-wrap: balance;
}

.contact-description {
    font-size: clamp(var(--fs-sixteen), 1vw, var(--fs-eighteen));
    font-weight: 500;
    line-height: 1.5rem;
    display: inline-block;
    padding: .25em;
    margin-bottom: 1rem;
    text-align: justify;
    text-wrap: pretty;
    width: 100%;
    max-width: 450px;

}

.contact-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: min(15vh, 15rem) min(5vw, 5rem);
    box-shadow: 0 .5rem 0 0 rgba(0, 0, 0 0.14688);
    margin: auto;
    /* border: 1px solid red; */
    min-width: 100%;
    height: 100%;

    
}

input {
   
    align-items: center;
    justify-content: center;
    padding: min(1.5vh, 1.5rem) min(.5vw, .5rem);
    font-weight: 600;
    border: 1px solid #DEDEDE;
    color: hsla(248, 9%, 26%, 1);
    line-height: var(--fs-twentyFour);
    font-size: var(--fs-fourteen);
    font-family: inherit;
    width: 90%;
    height: 10%;
}

#message {
    height: 30%;
}

input::placeholder {
    /* font-weight: 600; */
    font-family: inherit;
    /* color: #3D3B48; */
}

input:focus {
    outline: none;
    border: 1px solid var(--bc-darkerBlue)
}

.space {
    padding: min(0.5vh, 0.5rem) 0
}



/* return here to add text and error classes */

#submit {
    border: none;
    color: white;
    background-color: var(--bc-darkerBlue);
    text-transform: uppercase;
    padding: min(1vh, 1rem) min(1vw, 1rem);
    font-weight: 600;
    font-size: clamp(var(--fs-eleven), 0.875vw, var(--fs-fourteen));
    line-height: var(--fs-twentyFour);
    box-shadow: inset 0 -.25rem 0 rgba(0, 0, 0, 0.0908818);
    text-align: center;
    cursor: pointer;
}

#submit:hover {
    background-color: #1b2d4890;
    color:hsla(0, 0%, 100%, 1);
}


/* 1200px */
@media (max-width: 75em) {

    .form-container {
        gap: 2rem;
    }

    .contact-title {
        font-size: var(--fs-thirty)
    }

    .form-field {
        padding: min(15vh, 15rem) min(1vw, 1rem);
    }

    .contact-form {
        width: 100%;
    }
    

}

/* 900px */

@media (max-width: 56.25em) {
    .form-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .6fr 1fr;
        gap: 0;
    }

    .form-field {
        padding: min(10vh, 10rem) min(5vw, 5rem);
    }

    .contact-title {
        text-align: center;
    }

    .contact-form {
        width: 80%;
    }

    

}



/* 600px */
@media (max-width: 37.5em) {
    .form-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .8fr 1fr;
        gap: 1rem;
        /* min-width: 100%; */
        padding: min(5vh, 5rem) min(3vw, 3rem);
    }

    .form-field {
        padding: min(10vh, 10rem) 0;
        min-width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    

}
