.advisory-services {
    display: flex;
    flex-direction: column;
    background-color: var(--bc-middleBlue);
    padding: 0 9vw 5vh 7vw;
    gap: 3rem;
    align-items: center;
    color: white;

}

.advisory-services h3 {
    font-size: var(--fs-fortyEight);
    margin: 0 auto 0 auto;
    padding: 1.5em 3em;
    color: white;
    padding: .25em .5em;
    text-align: center;

}

.focus-you {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-width: 1100px;
    justify-content: space-around;

    
}
.focus-you-img {
    display: flex;

}

.focus-you-img > img {
    display: block;
    width: 100%;
    min-width: 400px;
    max-width: 400px;
    max-height: 33rem;
    aspect-ratio: 1;
    object-fit: cover;
}

.focus-you-wrapper {
    width: 100%;
    max-width: 500px;
    padding: min(.25vh, .25rem) min(1.5vw, 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 33rem;
}

.focus-divider {
    width: 100%;
    max-width: 200px;
    margin: 0;
    border: 2px solid var(--bc-darkBlue)
    
}

.focus-you-wrapper h4 {
    font-size: var(--fs-fortyEight);
    text-align: left;
    margin: 0;
    margin-block: 2rem 0;
    text-wrap: nowrap;


}

.focus-you-wrapper ul {

    font-size: clamp(var(--fs-eighteen), 1.125vw, var(--fs-eighteen));
    line-height: 3.5vh;
    list-style: none;
    margin: 0;
    padding: min(1.5vh, 1.5rem) min(1vw, 1rem);
}


.focus-you-wrapper li {
    padding-block: min(2vh, 2rem);
    line-height: min(3vh, 3rem);
    display: flex;
  
}


.focus-you-wrapper li::before {
    content: url('../assets/advisory-checkmark.svg');
    margin-inline: .5rem 1rem;
    margin-bottom: .5rem;
    color: white;
    align-self: start;
}


.search-focus {
    display: flex;
    width: 100%;
    max-width: 1100px;
    justify-content: space-around;

}

.search-divider {
    width: 100%;
    max-width: 200px;
    margin: 0 auto 0 0;
    border: 2px solid var(--bc-darkBlue)

}



.search-focus-img {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.search-focus-img  > img {
    display: block;
    max-width: 100%;
    max-height: 35rem;
    aspect-ratio: 1;
    object-fit: cover;
    
    

}

.search-focus-wrapper {
    width: 100%;
    max-width: 500px;
    padding: min(.25vh, .25rem) min(1.5vw, 1.5rem);

    display: flex;
    flex-direction: column;
    /* margin-left: min(2vw, 2rem); */
    max-height: 33rem;
    
}

.search-focus-wrapper h4 {
    font-size: var(--fs-fortyEight);
    text-align: left;
    margin-block: 2rem 0;
}



.search-focus-wrapper ul {
    font-size: clamp(var(--fs-eighteen), 1.125vw, var(--fs-eighteen));
    line-height: 3.5vh;
    list-style: none;
    margin: 0;
    /* height: 53vh; */
    padding: min(1.5vh, 1.5rem) min(1vw, 1rem);
    
    
}


.search-focus-wrapper li {
    padding-block: min(2vh, 2rem);
    line-height: min(3vh, 3rem);
    display: flex;
}

.search-focus-wrapper li::before {
    content: url('../assets/advisory-checkmark.svg');
    margin-inline: .5rem 1rem;
    margin-bottom: .5rem;
    color: white;
    align-self: start;
    
}





/* 1200px */

@media (max-width: 75em) {
    .advisory-services{
        padding: 7vh 7vw 5vh 5vw;
    }

}


/* 900px */
@media (max-width: 56.25em) {


    .focus-you {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        border: 1px solid red;
        align-items: center;
    }




    .focus-you-wrapper {
        width: 100%;
    }

    .focus-you-wrapper ul {
        padding: min(1.5vh, 1.5rem) min(3vw, 3rem);
    }

    .search-focus {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .search-focus-img {
        width: 100%;
    }

    .search-focus-wrapper {
        width: 100%;
        
        
    }
}

/* 600px */
@media (max-width: 37.5em) {

    .advisory-services {
        padding: min(5vh, 5rem) min(3vw, 3rem);
    }

    .focus-you-img > img {
        width: 100%;
        height: 25rem;

    }

    .focus-you-wrapper ul {
        font-size: clamp(var(--fs-eighteen), 1.5vw,var(--fs-twentyFour));
        padding: min(1vh, 1rem) min(1.5vw, 1.5rem);
    }

    .focus-you-wrapper li {
        padding: min(1.3vh, 1.3rem) min(1vw, 1em);
    }



    .search-focus {
        padding: min(5vh, 5rem) min(3vw, 3rem);

    }



    .search-focus-img > img {
        width: 100%;
        height: 25rem;

    }


    .search-focus-wrapper ul {
        font-size: clamp(var(--fs-eighteen), 1.125vw,var(--fs-twentyFour));
        
    }


}





