
.writing-services {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 7vh 11vw 5vh 11vw;
    gap: 3rem;
    align-items: center;
}

.writing-services > h3 {
    font-size: var(--fs-fortyEight);
    color: var(--bc-lightBlue);
    text-align: center;
    padding: .25em .5em;
    margin: 0 auto 0 auto;
}

.resume-services {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid black;
    
    
}


.resume-services-img {
    display: flex;
    justify-content: center;
    width: 50%;

}

.resume-services-img > img {
    display: block;
    max-width: 100%;
    max-height: 35rem;
    border-radius: 2em;
    object-fit: cover;
    aspect-ratio: 1;
    
    

}

.resume-services-wrapper {
    width: 50%;
    border-radius: 1vw;
    padding: min(.25vh, .25rem) min(1.5vw, 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    align-self: center;
}

.resume-divider {
    width: 25%;
    margin: 0 auto 0 0;
    padding: 0 .5em;
    color: var(--bc-lightBlue)
    
}

.resume-services h4 {
    
    font-size: var(--fs-fortyEight);
    color: var(--bc-lightBlue);
    text-align: left;
    margin: 0;
    margin-block: 2rem;

}

.resume-services-wrapper ul {

    font-size: clamp(var(--fs-eighteen), 1.125vw, var(--fs-eighteen));
    line-height: 3.5vh;
    list-style: none;
    margin: 0;
    padding: min(1.5vh, 1.5rem) min(1vw, 1rem);
}

.resume-services-wrapper li {

    padding-block: min(2vh, 2rem);
    line-height: min(3vh, 3rem);
    display: flex;

   
 
}

.resume-services-wrapper li::before {

    content: url('../assets/checkmark.svg');
    margin-inline: .5rem 1rem;
    margin-bottom: .5rem;
    color: white;
    align-self: start;

    
}


.biographies {
    display: flex;
}

.biography-divider {
    width: 25%;
    margin: 0 auto 0 0;
    padding: 0 .5em;
    color: var(--bc-lightBlue)
    
}

.biography-services-img {
    display: flex;
    justify-content: center;
    width: 50%;
}

.biography-services-img > img {
    display: block;
    max-width: 100%;
    max-height: 35rem;
    border-radius: 2em;
    object-fit: cover;
    aspect-ratio: 1;
    
    

}

.biography-services-wrapper {
    width: 50%;
    border-radius: 1vw;
    padding: min(.25vh, .25rem) min(1.5vw, 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: min(2vw, 2rem);
    max-height: 33rem;
}

.biography-services-wrapper h4 {
    font-size: var(--fs-fortyEight);
    color: var(--bc-lightBlue);
    text-align: left;
    margin: 0;
    margin-block: 2rem;
}

.biography-services-wrapper ul {
    font-size: clamp(var(--fs-eighteen), 1.125vw, var(--fs-eighteen));
    line-height: 3.5vh;
    list-style: none;
    margin: 0;
    /* height: 53vh; */
    padding: min(1.5vh, 1.5rem) min(1vw, 1rem);
}


.biography-services-wrapper li {
    padding-block: min(2vh, 2rem);
    line-height: min(3vh, 3rem);
    display: flex;


}

.biography-services-wrapper li::before {
    content: url('../assets/checkmark.svg');
    margin-inline: .5rem 1rem;
    margin-bottom: .5rem;
    color: white;
    align-self: start;
}



/* 1200px */
@media (max-width: 75em) {
    .writing-services{
        padding: 7vh 7vw 5vh 7vw;
    }

}

/* 900px */
@media (max-width: 56.25em) {


    .resume-services {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .resume-services-img {
        width: 100%;
        align-self: center;
       
    }

    .resume-services-wrapper {
        width: 100%;
    }

    .resume-services-wrapper ul {
        padding: min(1.5vh, 1.5rem) min(3vw, 3rem);
    }

    .biographies {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .biography-services-img {
        width: 100%;
        
    }

    .biography-services-wrapper {
        width: 100%;
        
        
    }
}
/* 600px */
@media (max-width: 37.5em) {

    .writing-services {
        padding: min(5vh, 5rem) min(3vw, 3rem);

    }




    .resume-services-img > img {
        height: 25rem;
        width: 100%;

    }



    .resume-services-wrapper {
        justify-self: flex-end;
        border: 1px solid red;
        
        
    }

    
    .resume-services-wrapper ul {
        padding: min(1vh, 1rem) min(1.5vw, 1.5rem);
    }

    .resume-services-wrapper li {
        padding: min(1.3vh, 1.3rem) min(1vw, 1em);
    }


    .biography-services-img > img {
        width: 100%;
        height: 25rem;
    }



}

