
.about-wrapper {
    background-color: white;
    padding: 5em 2.5em;
    width: 100%;

    justify-content: center;

    display: flex;
    gap: 1rem;
    border: 1px solid blue;

}



.about-text-container {
    background-color: white;
    color: black;
    font-size: clamp(var(--fs-sixteen), 1.125vw, var(--fs-eighteen));
    width: 100%;
    line-height: 1.5rem;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: .5rem;
    max-width: 600px;

}

.about-header {
    color: var(--bc-lightBlue);
    margin-block: 1rem .5rem;
    font-size: var(--fs-fortyEight);
}

.about-secondary-header {
    font-size: clamp(var(--fs-eighteen), 1.5vw, var(--fs-eighteen));
    line-height: 1.5rem;
    margin: .5rem;
    text-wrap: pretty;
}


.about-divider {
    width: 100%;
    max-width: 175px;
    text-align: left;
    margin: 0;
    border: 2px solid var(--bc-middleBlue)
}


.about-wrapper > img {
    width: 100%;
    max-width: 500px;
    display: inline-block;
    object-fit: cover;
    object-position: 40%;
    align-self: center;
    height: 35rem
}

.about-text-container p {
    opacity: 0.7;
    text-align: justify;
    text-wrap: pretty;
    /* margin: .5rem; */
    width: 100%;
    margin: .1rem;


}

/* 1200px */
@media (max-width: 75em) {

    .about-wrapper {
        padding: 2.5em 1.5em;
    }
    


    .about-wrapper > img {
        object-position: 50%;
        /* max-height: 35rem; */
        
    }

    .about-text-container {
        padding-inline: 0;
    }

    .about-secondary-header {

        margin: 0;

    }

    .about-text-container > p {
        margin: 0;
    }
}


@media (min-width: 900px) and (max-width: 1000px) {
    
    /* .about-wrapper > img {
        max-width: 475px;
        
    }
     */

    .about-header {
        
        margin-block: .25em;
    }

    .about-secondary-header {
        font-size: var(--fs-sixteen);
        text-align: left;
        
        line-height: 1.25rem;

    }

    .about-text-container {
        align-items: left;
        justify-content: center;
        font-size: var(--fs-sixteen);

        gap: .5rem;
        line-height: 1.25rem;
    }

}





/* 900px */
@media (max-width: 56.25em) {

    .about-wrapper {
        display: flex;
        flex-direction: column;
        padding: min(7vh, 7rem) min(2.5vw, 2.5rem);
        justify-content: center;
    }

    .about-text-container {
        width: 100%;
        max-width: 650px;
        margin-inline: auto;
    }

    .about-wrapper > img {
        width: 100%;
        height: 30rem;
        aspect-ratio: 1 / 1;
        max-width: 575px;
    }

    .about-text-container p {
        width: 100%;
        text-align: left;
        text-wrap: pretty;
    } 

}



