
.about-wrapper {
    background-color: white;
    padding: 1em;
    /* padding: 7vh 0 5vh 0; */
    width: 100%;
    /* margin: auto auto; */
    justify-content: center;

    display: flex;
    /* flex-direction: row; */
    /* justify-content: center; */

}



.about-text-container {
    background-color: white;



    color: black;
    font-size: clamp(var(--fs-sixteen), 1.125vw, var(--fs-eighteen));
    width: 100%;
    line-height: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: .5rem;
    max-width: 775px;

}

.about-header {
    color: var(--bc-lightBlue);
    margin-block: 1rem;
    font-size: var(--fs-fortyEight);
}

.about-secondary-header {
    font-size: clamp(var(--fs-eighteen), 1.5vw, var(--fs-eighteen));
    line-height: 1.5rem;
    margin: .5rem;
    text-wrap: pretty;
}


.about-divider {
    width: 100%;
    max-width: 175px;
    text-align: left;
    margin: 0;
    border: 2px solid var(--bc-middleBlue)
}


.about-wrapper > img {
    width: 100%;
    max-width: 500px;
    height: 500px;
    display: inline-block;
    object-fit: cover;
    object-position: 40%;
    align-self: center;
}

.about-text-container p {
    opacity: 0.7;
    text-align: justify;
    text-wrap: pretty;
    margin: .5rem;
    width: 100%;

}

/* 1400px */

@media (max-width: 87.5em) {

    .about-wrapper > img {
        height: 35rem;
        
    }
    

}


/* 1200px */
@media (max-width: 75em) {

    .about-wrapper {
        padding: 7vh 3vw 5vh 3vw;
    }

    .about-text-container {
        padding: 0;
        align-items: left;
    }


    .about-wrapper > img {
        object-position: 50%;

        
    }

    .about-text-container > p {
        margin: .25em;
    }
}




/* 900px */
@media (max-width: 56.25em) {

    .about-wrapper {
        display: flex;
        flex-direction: column;
        padding: min(7vh, 7rem) min(2.5vw, 2.5rem);
        justify-content: center;
    }

    .about-divider {
        margin-top: 2rem;
    }

    .about-text-container {
        width: 100%;
        max-width: 750px;
        margin-inline: auto;
    }

    .about-wrapper > img {
        height: 25rem;
    }

    .about-text-container p {

        width: 100%;

    } 
}

@media (max-width: 900px) {


    .about-secondary-header {

        margin: 0;


    }
    .about-text-container p {

        margin: 0;
        
    }
}


