



.about-wrapper {
    background-color: white;
    z-index: 1;
    padding: 7vh 11vw 5vh 11vw;
    width: 100%;
    margin: auto auto;
    gap: 1.5rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
}



.about-text-container {
    background-color: white;
    gap: 1.5rem;
    padding: 1.5vh 3vw;

    color: black;
    font-size: clamp(var(--fs-fourteen), 1vw, var(--fs-sixteen));
    width: 80%;
    line-height: 1.5;
    /* border: 1px solid red; */
}

.about-header {
    color: var(--bc-lightBlue);
    margin-block: 2rem;
    font-size: var(--fs-fortyEight);
}

.about-secondary-header {
    font-size: clamp(var(--fs-sixteen), 1.125vw, var(--fs-eighteen))
}


.about-divider {
    width: 30%;
    text-align: left;
    margin: 0;
}


.about-wrapper > img {
    /* border: 1px solid red; */
    max-width: 50%;
    min-height: 35em;
    display: block;
    border-radius: 2em;
    object-fit: cover;
    object-position: 40%;
    aspect-ratio: 1;
}

.about-text-container p {
    opacity: 0.7;
}


/* 1200px */
@media (max-width: 75em) {


    .about-wrapper > img {
        object-position: 50%;
    }
}




/* 900px */
@media (max-width: 56.25em) {

    .about-wrapper {
        display: flex;
        flex-direction: column;
        padding: min(7vh, 7rem) min(5vw, 5rem)
    }

    .about-wrapper > img {
        min-width: 100%;
    }

    .about-text-container {
        /* border: 1px solid lime; */
        width: 100%;
    }

    .about-text-container p {
        /* border: 1px solid red; */
        width: 100%;
    }
    
}


