:root {
    --clr-neutral-700: 240, 38%, 20%;
}



.carousel {
    min-width: 100%;
    /* min-height: 100%; */
    position: relative;
    min-height: 20rem;

    
    padding: min(5vh, 5rem) min(5vw, 5rem);
    background-color: var(--bc-lightBlue);
    /* border: 1px solid black; */

}

.carousel-item {
    /* border: 1px solid yellow; */
    display: grid;
    grid-template-columns: 1fr;


    min-width: 100%;

    position: relative;
}


/* SWITCH TO GRID? */
.carousel-slide {
 
    max-width: 85%;
    height: 25vh;

    margin: 0 auto 0 auto;
    padding: 0;

    display: flex;
    align-items: center;
    /* border: 3px solid purple; */

}

.carousel .carousel-item li {
    /* border: 1px solid yellow; */

    padding: 1rem;
    /* list-style-type: none; */
    min-width: 100%;
 
    
}

.carousel-item li * {

    /* border: 1px solid red; */
    display: block;
    width: 100%;
    /* font-size: clamp(var(--fs-sixteen), 1.5vw, var(--fs-eighteen) ); */
    font-size: clamp(var(--fs-twentyFour), 1.5vw, var(--fs-twentyFour));
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;

    
}



.testimonial.hidden {
    display: none;
}

.testimonial.visible{
    display: block;
}

.testimonial-testimonialbody {
    /* border: 5px solid purple; */
    margin-inline: 0;
    
}


.carousel-actions {
    /* border: 1px solid lime; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin-inline: auto; */
    margin: auto;
    /* margin: 100% auto; */

    /* transform: translateY(-50%); */
}


.carousel .carousel-actions button {
    border-radius: 3rem;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}


.menu-wrapper {
    /* border: 1px solid purple; */
    margin: 1rem auto;
    min-width: 25%;
    text-align: center;
    padding: 0;
}

.slider-button {
    /* border: 1px solid white; */
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: #FFFFFF80;
    display: inline-block;
    margin-inline: .5rem;    
}

.slider-button.active {
    background-color: white;
}


@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}


/* 900 px */

@media (max-width: 56.25em) {
    .carousel-item li * {
        font-size: clamp(var(--fs-eighteen), 1.5vw, var(--fs-twentyFour))

    }

}


/* 600px */
@media (max-width: 37.5em) {

    .carousel-slide {
        height: 40vh;
    }


    .carousel-item li * {
        /* font-size: clamp(var(--fs-eighteen), 1.5vw, var(--fs-twentyFour)); */
        line-height: 1.5;
        font-size: clamp(var(--fs-sixteen), 1.5vw, var(--fs-eighteen) )
    }

    .slider-button {
        margin-inline: .25rem;
    }



}


