

.carousel {
    width: 100%;
    position: relative;
    padding: 2em;
    background-color: var(--bc-lightBlue);


}

.carousel-item {

    display: grid;
    grid-template-columns: 1fr;


    position: relative;

    
}



.carousel-slide {

    margin: 0 auto 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1100px;

}

.carousel .carousel-item li {
    min-width: fit-content;
    width: 100%;
 
    
}

.carousel-item li * {
    display: flex;
    width: 100%;
    font-size: clamp(var(--fs-twentyFour), 1.5vw, var(--fs-twentyFour));
    color: white;
    text-align: justify;
    justify-content: center;
}





.testimonial.hidden {
    display: none;
}

.testimonial.visible{
    display: block;
    animation: testimonial-visible 1s ease-in;
}

@keyframes testimonial-visible {
    from{opacity: 0}
    to{opacity: 1}
}



.testimonial-testimonialbody {
    margin-inline: 0;
    
}


.carousel-actions {
    /* border: 1px solid lime; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;

}


.carousel .carousel-actions button {
    border-radius: 3rem;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;
    border: 0;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}


.menu-wrapper {
    margin: 2rem auto;
    min-width: 25%;
    text-align: center;
    padding: 0;
    
}

.slider-button {
    cursor: pointer;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-color: #FFFFFF80;
    display: inline-block;
    margin-inline: .5rem;    
}

.slider-button.active {
    background-color: white;
}

/* 900 px */

@media (max-width: 56.25em) {

    .carousel-slide {
        max-width: 550px;
    }


    .carousel-item li * {
        font-size: clamp(var(--fs-eighteen), 1.5vw, var(--fs-twentyFour))

    }

}


/* 600px */
@media (max-width: 37.5em) {

    .carousel {
        padding: 1.5rem;

    }
   .byline {
        width: fit-content;

    
   }


    .carousel-item li * {
        /* font-size: clamp(var(--fs-eighteen), 1.5vw, var(--fs-twentyFour)); */
        line-height: 1.5;
        font-size: clamp(var(--fs-sixteen), 1.5vw, var(--fs-eighteen) )
    }

    .slider-button {
        margin-inline: .25rem;
    }
}


/* 400px */

@media (max-width: 25em) {
   
    .carousel-item > li * {
        font-size: clamp(var(--fs-sixteen), 1vw, var(--fs-sixteen) )
    }

    .carousel-slide > li:first-child .byline {
        text-align: left;
    
   }

}


